[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyquery = "*"
click = "*"
aredis = "*"
psutil = "*"
pyyaml = "*"
sanic = "*"
sanic_restful='*'

[dev-packages]
aoiklivereload = "*"

[requires]
python_version = "3.6"
