[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
pyquery = "*"
click = "*"
aredis = "*"
sanic = "*"
sanic-restful = "*"
psutil = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
